@namespace "Field";

@st-import [boxSizing] from "../../theme/mixins.st.css";
@st-import [bodyTextNormal] from "../../theme/common/typography.st.css";

.root {}

.label {}

.caption {
	-st-states: required(boolean);
}

.icon {}

.text {
	cursor: pointer;
	padding: 0 10px;
}

.inputContainer {}

.input {
	-st-states: validation(enum(initial, valid, invalid, empty)), tag(enum(input, textarea));
	-st-mixin: boxSizing, bodyTextNormal;
	display: block;
	cursor: pointer;
	background: none;
}
.input:hover {
	background-color: #f0f0f0;
	border-color: #808080;
}
.input:active,
.input:focus {
	background-color: #afa;
	color: red;
	border-color: #e0e0e0;
	outline: 0;
	cursor: text;
}

.error {
	color: #c00;
}

.errorText {}

.errorIcon path {
	color: #c00;
}

.checkMark path {
	fill: green;
}
