@namespace "Form";

@st-import Field from "./field.st.css";
@st-import Captcha from "./captcha.st.css";
@st-import LoadingIndicator from "./../loading-indicator/loading-indicator.st.css";

:vars {
	fail: #c00;
	success: #0a0;
}

.root {
	position: relative;
}

.form {}

.formTitle {}

.captchaContainer {
	width: 304px;
	height: 78px;
	margin-bottom: 1rem;
}

.submitButton {}

.buttonTooltip {
	border: 1px solid red;
	position: absolute;
	top: 40px;
}

.button {
	-st-states: disabled(boolean);
	padding: 0.5rem 2rem;
	border-radius: 4px;
	cursor: pointer;
}
.button:hover {}
.button[disabled] {
	cursor: no-drop;
	background-color: #808080;
	color: #303030;
}

.error {
	color: value(fail);
}

.checkMark path {
	fill: value(success);
}

.captcha {
	-st-extends: Captcha;
}

.loadingIndicator {
	-st-extends: LoadingIndicator;
}

.field {
	-st-extends: Field;
}

